<div class="dog">

  <h1>It's a dog</h1>
  <select class="dog-selector"></select><br/><br/>
  <div class="demo-image"></div>
</div>
<script>
  function getDog(){
    var selectedDog = $(".dog-selector option:selected").val();
      dogURL = selectedDog.replace(/-/g, '/');

    $.getJSON( "https://dog.ceo/api/breed/" + dogURL +"/images/random", function( result ) {
        $(".demo-image").html("<img src='" + result.message + "'>");
    });
  }

  function loadDogs(){
    $.getJSON( "https://dog.ceo/api/breeds/list/all", function( result ) {
      var breeds = result.message;
      firstDog = Object.keys(breeds)[0];

      $.each(breeds, function(dog, breed){

       // if they have a sub breed        
        if (breeds[dog].length >= 1) {
          for (i = 0; i < breeds[dog].length; i++) { 
            $(".dog-selector").append('<option value="' + dog + '-'+ breeds[dog][i] +'">'+ breeds[dog][i] + ' '+ dog +'</option>');
          }
        }
          
        // no sub breed
        else if (breeds[dog].length < 1 ) {
            // make the selector
            $(".dog-selector").append('<option value="' + dog + '">' + dog + '</option>');
        }
      });
      
      $.getJSON( "https://dog.ceo/api/breed/" + firstDog +"/images/random", function( result ) {
          $(".demo-image").html("<img src='" + result.message + "'>");
      });
    });            
  }

  $(".dog-selector").change(function(){
    $(".dog-selector option:selected" ).each(function() {
      getDog();
    });
  });

  $(document).ready(function(){
    loadDogs();
  });  
</script>